
.topspaceee{
    margin: 50px 0px 130px 0px;
}


.Bgmain{
    background-image: url("./images/businessman.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.outerboxxx form  label {
    color: #fff;
}


.outerboxxx form TextField {
    color: #fff;
}
.outerboxxx form  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root input {
    color: #fff;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedError.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedError.MuiButton-sizeMedium.MuiButton-containedSizeMedium.setting.css-1sszw6i-MuiButtonBase-root-MuiButton-root {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: ui-sans-serif;
    padding: 5px 30px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: ui-sans-serif;
    padding: 5px 30px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedError.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedError.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-1sszw6i-MuiButtonBase-root-MuiButton-root {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: ui-sans-serif;
    padding: 5px 30px;
}
